<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Danh Sách Sản Phẩm</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>
<body class="bg-light">
<div class="container mt-5">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h2 class="text-primary">Quản Lý Nhà Cung Cấp</h2>
        <a th:href="@{/products/new}" class="btn btn-success">
            <i class="fas fa-plus-circle me-1"></i> Thêm Mới
        </a>
    </div>

    <div class="card p-3 mb-4 shadow-sm">
        <form th:action="@{/products}" method="get" class="row g-3">
            <div class="col-md-10">
                <input type="text" name="keyword" th:value="${keyword}" class="form-control" placeholder="Nhập tên nhà cung cấp để tìm kiếm...">
            </div>
            <div class="col-md-2">
                <button type="submit" class="btn btn-primary w-100">
                    <i class="fas fa-search me-1"></i> Tìm kiếm
                </button>
            </div>
        </form>
    </div>

    <div class="card shadow-sm">
        <table class="table table-striped table-hover mb-0">
            <thead class="table-dark">
            <tr>
                <th>SKU</th>
                <th>Tên Sản Phẩm</th>
                <th>Đơn vị</th>
                <th>Nhà Cung Cấp</th>
                <th>Giá Bán</th>
                <th>Tồn Kho</th>
                <th class="text-center">Hành động</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="p : ${products}">
                <td th:text="${p.productCode}"></td>
                <td th:text="${p.productName}" class="fw-bold"></td>
                <td th:text="${p.unit}"></td>
                <td th:text="${p.supplierName}"></td>
                <td th:text="${#numbers.formatDecimal(p.unitPrice, 0, 'COMMA', 0, 'POINT')} + ' đ'"></td>

                <td th:text="${p.stockQuantity}"
                    th:classappend="${p.stockQuantity < 10} ? 'text-danger fw-bold' : 'text-success'">
                </td>

                <td class="text-center">
                    <a th:href="@{/products/edit/{id}(id=${p.productID})}" class="btn btn-warning btn-sm text-white"><i class="fas fa-edit"></i></a>
                    <a th:href="@{/products/delete/{id}(id=${p.productID})}" class="btn btn-danger btn-sm" onclick="return confirm('Xóa SP này?')"><i class="fas fa-trash"></i></a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>